{% extends "base.html" %}

{% block title%} 

My Blog 

{%endblock%} 

{% block content %}

<header id="main-navigation">
    <h1><a href=""> Arda' Blog </a></h1>
    <nav>
        <a href=""> All Posts </a>
    </nav>
</header>

<section id="welcome">
    <header>
        <img src="" alt="Arda The Author Of This Blog" />
        <h2>Arda Gün Güneş's Blog</h2>
    </header>
    <p>Hi, I am Arda and I love to blog about tech and the world!</p>
</section>

<section id="latest-posts">
    <h2>My Latests Posts</h2>

    <ul>
        <li>
            <article></article>
        </li>
    </ul>
</section>

{%endblock%}
